
    <h1>BUSCAR</h1>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="text" class="form-control" name="filterPost" placeholder="Search..." [(ngModel)]="filterPost">
        </div>
      </div>
    </div>
   <!--<button type="button"  routerLink="/mostraregresadosform" routerLinkActive="active" class="btn btn-secondary"> agregar </button>
   --> 
    <table class="table" >
        <thead class="thead-secundary bg-primary">
          <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Apellido Paterno</th>
            <th scope="col">Apellido Materno</th>
            <th scope="col">Nombre</th>
            <th scope="col">DNI</th>
            <th scope="col">Nro Celular</th>
            <th scope="col">Escuela Profesional</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ed of list | filter:filterPost">
            <td routerLink="/egresadoem/{{ ed.egresado_id }}" >{{ ed.egresado_codigo }}</td>
            <td>{{ ed.egresado_ap_paterno }}</td>
            <td>{{ ed.egresado_ap_materno }}</td>
            <td>{{ ed.egresado_nombre }}</td>
            <td >{{ ed.egresado_dni }}</td>
            <td >{{ ed.egresado_celular }}</td>
            <td >{{ ed.ep_id }}</td>
            <td>{{ ed.egresado_estado }}</td>
            <span><button (click)="delete(ed.egresado_id)">Delete</button></span>
            <td ><button type="button"  routerLink="/mostraregresadosform/{{ ed.egresado_id }}" routerLinkActive="active" class="btn btn-secondary"> editar </button></td>
          </tr>
        </tbody>
</table>