
<table class="table" >
    <thead class="thead-secundary bg-primary">
      <tr>
        <th scope="col">id</th>
        <th scope="col">nombre</th>
        <th scope="col">correo</th>
        <th scope="col">direccion</th>
        <th scope="col">telefono</th>
        <th scope="col">rubro</th>
        <th scope="col">Egresado_id</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let em of list">
        <td >{{ em.empresa_id }}</td>
        <td>{{ em.empresa_nombre }}</td>
        <td>{{ em.empresa_correo }}</td>
        <td >{{ em.empresa_direccion }}</td>
        <td>{{ em.empresa_telefono }}</td>
        <td>{{ em.empresa_rubro }}</td>
        <td>{{ em.egresado_id }}</td>
        <span><button (click)="delete(em.empresa_id)">Delete</button></span>
        <td ><button type="button"  routerLink="/mostraregresadosform/{{ em.empresa_id }}" routerLinkActive="active" class="btn btn-secondary"> editar </button></td>
      </tr>
    </tbody>
</table>