

<div class="row">
    <div class="row col-lg-2">
       
        <div *ngIf="loggedIn">
            <nav class="navbar navbar-expand-lg navbar-light bg-light list-group list-group-vertical" >
                <a class="navbar-brand" href="#">INICIO</a>
        
               <button class="navbar-toggler" type="button" data-toggle="collapse" 
               data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
               </button>
               
                 <div class="collapse navbar-collapse list-group list-group-vertical " id="navbarText">
                 <ul class="navbar-nav mr-auto ">
                   <li class="nav-item ">
                     <a class="nav-link" href="#">Opiniones <span class="sr-only">(current)</span></a>
                   </li>
                 </ul>
               </div> 
               <div class="collapse navbar-collapse list-group list-group-vertical " id="navbarText">
                 <ul class="navbar-nav mr-auto ">
                   <li class="nav-item ">
                     <a class="nav-link" routerLink="datosgeneralesindex">DATOS PERSONALES <span class="sr-only">(current)</span></a>
                   </li>
                 </ul>
               </div>
               <div class="collapse navbar-collapse list-group list-group-vertical " id="navbarText">
                 <ul class="navbar-nav mr-auto ">
                   <li class="nav-item ">
                     <a class="nav-link" routerLink="oferta_laboral">OFERTA DE EMPLEOS <span class="sr-only">(current)</span></a>
                   </li>
                 </ul>
               </div> 
               <div class="collapse navbar-collapse list-group list-group-vertical " id="navbarText">
                 <ul class="navbar-nav mr-auto ">
                   <li class="nav-item ">
                     <a class="nav-link" href="#">EXPERIENCIA LABORAL <span class="sr-only">(current)</span></a>
                   </li>
                 </ul>
               </div>
               <div class="collapse navbar-collapse list-group list-group-vertical " id="navbarText">
                 <ul class="navbar-nav mr-auto ">
                   <li class="nav-item ">
                             <img src="../assets/imagenes/16363.png" width="200" height="150">
                   </li>
                 </ul>
               </div>
               <div class="collapse navbar-collapse list-group list-group-vertical " id="navbarText">
                   <ul class="navbar-nav mr-auto ">
                     <li class="nav-item ">
                       <a class="nav-link" (click)="logout($event)" href="#">SALIR <span class="sr-only">(current)</span></a>
                     </li>
                   </ul>
                 </div>
        
             </nav>
        </div>


    </div>
    <div class="row col-lg-10" >
        <router-outlet></router-outlet>   
    </div>                   
</div>           
