<div class="row">
    
    <div class="col-sm">
        <a class="navbar-brand"routerLink="/datosgeneralesindex ">
        <div class="card text-white bg-danger mb-3 " style="width: 230px;">
              <img src="../../assets/imagenes/icon-user-slide.png" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" class="btn btn" id="aea">Perfil</a>
          </div>
        </div>
      </a> 
    </div>
    <div class="col-sm">
        <a class="navbar-brand"routerLink="/ofertaegresado">
        <div class="card text-white bg-danger mb-3 " style="width: 230px;">
              <img src="../../assets/imagenes/53011.png" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" class="btn btn" id="aea">Oferta Laboral</a>
          </div>
        </div>
      </a> 
    </div>
    <div class="col-sm">
        <a class="navbar-brand"routerLink="/ofertaegresado">
        <div class="card text-white bg-danger mb-3 " style="width: 230px;">
              <img src="../../assets/imagenes/103333.png" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" class="btn btn" id="aea">Cursos de Actualizacion</a>
          </div>
        </div>
      </a> 
    </div>
    <div class="col-sm">
        <a class="navbar-brand"routerLink="/comentarioenvio">
        <div class="card text-white bg-danger mb-3 " style="width: 230px;">
              <img src="../../assets/imagenes/54916.png" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" class="btn btn" id="aea">Comentarios</a>
          </div>
        </div>
      </a> 
    </div>
  </div>
  
<table class="table" >
  <thead class="thead-secundary bg-primary">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Lugar</th>
      <th scope="col">Fecha</th> 

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let me of list ">
      <td >{{ me.cursos_nombre }}</td>
      <td>{{ me.cursos_lugar }}</td>
      <td>{{ me.cursos_fecha }}</td>
    </tr>
  </tbody>
</table>